################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WireApps.API/WireApp.Test/obj
/WireApps.API/WireApps.API/bin/Debug/net8.0
/WireApps.API/WireApps.API/obj
/WireApps.API/WireApps.Data/bin/Debug/net8.0
/WireApps.API/WireApps.Data/obj
/WireApps.API/.vs/WireApps.API
/WireApps.API/WireApps.Test/bin/Debug/net8.0
/WireApps.API/WireApps.Test/obj
/WireApps/.vs
/WireApps/WireApps.API/bin/Debug/net8.0
/WireApps/WireApps.API/obj
/WireApps/WireApps.Data/bin/Debug/net8.0
/WireApps/WireApps.Data/obj
/WireApps/WireApps.Test/bin/Debug/net8.0
/WireApps/WireApps.Test/obj
/WireApps/wireapps.web/obj/Debug
